footer.footer
    h2(aria-hidden="true") Pied de page
    section.footer__item.footer-partners
        h3 Nos partenaires
        ul.o-list-inline
            li.footer-partners__item
                a(href="https://www.kbs-frb.be/")
                    img(src="img/fondation-roi-baudouin.png", alt="Logo de la Fondation Roi Baudouin")
            li.footer-partners__item
                a(href="http://www.federation-wallonie-bruxelles.be/")
                    img(src="img/wallonie-bruxelles.png", alt="Logo de la Fédération Wallonie-Bruxelles")
                    
    section.footer__item.footer-contact
        h3
            a(href="#").footer-contact__contact-link Nous contacter
        address.footer-contact__content
            span.footer-contact__content-item Mariam-Faso ASBL
            span.footer-contact__content-item Association sociale
            span.footer-contact__content-item Rue de la gare, 15
            span.footer-contact__content-item 6600 BASTOGNE
            span.footer-contact__content-item.footer-contact__content-item_icon-phone +32 4 79 21 57 44
            span.footer-contact__content-item.footer-contact__content-item_icon-email info@mariam-faso.be
    script(src="js/script.js")