- var page_title = "Accueil";
doctype html
html(lang="fr")
    include partials/_header
    body
        header.header
            div.site-header
                h1.site-title 
                    a(href="index.html").site-title <img class="site-title__logo" src="img/logo.png" alt"Logo de Mariam-Faso">Mariam-Faso
                a(href="#").hamburger-menu
                nav.site-nav
                    h2(aria-hidden="true") Navigation principale
                    a(href="#").site-nav__close-btn &times;
                    ul.o-list-bare.site-nav__list
                        li.site-nav__item.active
                            a.site-nav__link(href="#") Accueil
                        li.site-nav__item
                            a.site-nav__link(href="projects.html") Projets
                        li.site-nav__item.site-nav__item_dropdown
                            a.site-nav__link.site-nav__link_dropdown(href="agenda.html" tabindex="-1") Agenda
                            ul.o-list-bare.site-nav__dropdown
                                li.site-nav__dropdown-item
                                    a.site-nav__dropdown-link(href="actions.html") Actions en cours
                                li.site-nav__dropdown-item
                                    a.site-nav__dropdown-link(href="events.html") Evenements
                        li.site-nav__item
                            a.site-nav__link(href="#") À propos
                        li.site-nav__item.site-nav__item_cta-container
                            a.site-nav__link.cta.cta_dark.cta_no-border(href="#") Faire un don
                            a.site-nav__link.cta.cta_dark.cta_no-border(href="#") Participer
            section.home-motivational
                h2.home-motivational__title <span class="home-motivational__item">Dévelopmment,</span> <span class="home-motivational__item">Echange,</span> <span class="home-motivational__item">Solidarité,</span> <span class="home-motivational__item">Education.</span>
                a.cta.cta_centered.cta_over-image(href="#") Découvrir nos projets
        
        section.wrapper
            h2(aria-hidden="true") Contenu principal
            
            div.home-questions
                section.home-questions__item.home-questions__item_bcg-dark
                    div.home-questions__content-wrapper_left
                        h3.home-questions__title Qui sommes nous ?
                        p.home-questions__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias et quibusdam facilis excepturi animi tempore ea quo beatae quidem quasi. Sed cupiditate labore sint sapiente, nesciunt, obcaecati corporis consectetur inventore!
                        a.cta(href="#") En savoir plus
                section.home-questions__item.home-questions__item_bcg-light
                    div.home-questions__content-wrapper_right
                        h3.questions__title.questions__title_dark Nous aider ?
                        p.questions__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, fugiat quam nihil ipsa, adipisci minima sunt provident quae, dolor nemo repellendus voluptatem expedita saepe omnis soluta blanditiis dolorem iure earum!
                        a.cta.cta_dark(href="#") Faire un don
            
            section.home-events
                h3(aria-hidden="true") Nos évènements
                div.home-full-image-block.home-events__featured
                    a(href="actions.html").cta.cta_centered-middled.cta_over-image Action en cours à la une
                ol.home-events__nexts.o-list-bare
                    li.home-events__nexts-container
                        a(href="#").home-events__nexts-link
                            time 22/06
                            p Titre de l'event
                    li.home-events__nexts-container
                        a(href="#").home-events__nexts-link
                            time 22/06
                            p Titre de l'event
                    li.home-events__nexts-container
                        a(href="#").home-events__nexts-link
                            time 22/06
                            p Titre de l'event
                    li.home-events__nexts-container
                        a(href="#").home-events__nexts-link
                            time 22/06
                            p Titre de l'event
                    li.home-events__cta-container
                        a(href="agenda.html").cta Découvrir tous nos évènements
            section.home-full-image-block.home-gallery
                h3(aria-hidden="true") Galerie
                a(href="#").cta.cta_over-image.cta_centered-middled Découvrir notre galerie
            section.home-news
                h3.home-news__title Notre actualité
                div.home-news__article-container
                    article.home-news__article
                        h4.article__title <time class="article__time">12/09</time>Titre de la news
                        img(src="img/article1.jpg", alt="#").article__img
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, reprehenderit praesentium labore aperiam ab ut necessitatibus, quas, culpa eius blanditiis odit. Quae ipsum necessitatibus, iure modi recusandae omnis laudantium. Non.
                        a.read-more Lire plus
                    article.home-news__article
                        h4.article__title <time class="article__time">12/09</time>Titre de la news
                        img(src="img/article1.jpg", alt="#").article__img
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, reprehenderit praesentium labore aperiam ab ut necessitatibus, quas, culpa eius blanditiis odit. Quae ipsum necessitatibus, iure modi recusandae omnis laudantium. Non.
                        a.read-more Lire plus
            include partials/_footer
