- var page_title = "Projets";
doctype html
html(lang="fr")
    include partials/_header
    body
        header.header.header_small
            div.site-header
                h1.site-title 
                    a(href="index.html").site-title <img class="site-title__logo" src="img/logo.png" alt"Logo de Mariam-Faso">Mariam-Faso
                div.hamburger-menu
                nav.site-nav
                    h2(aria-hidden="true") Navigation principale
                    div.site-nav__close-btn &times;
                    ul.o-list-bare.site-nav__list
                        li.site-nav__item
                            a.site-nav__link(href="index.html") Accueil
                        li.site-nav__item.active
                            a.site-nav__link(href="#") Projets
                        li.site-nav__item.site-nav__item_dropdown
                            a.site-nav__link.site-nav__link_dropdown(href="agenda.html" tabindex="-1") Agenda
                            ul.o-list-bare.site-nav__dropdown
                                li.site-nav__dropdown-item
                                    a.site-nav__dropdown-link(href="actions.html") Actions en cours
                                li.site-nav__dropdown-item
                                    a.site-nav__dropdown-link(href="events.html") Evenements
                        li.site-nav__item
                            a.site-nav__link(href="#") À propos
                        li.site-nav__item.site-nav__item_cta-container
                            a.site-nav__link.cta.cta_dark.cta_no-border(href="#") Faire un don
                            a.site-nav__link.cta.cta_dark.cta_no-border(href="#") Participer
        section.wrapper
            header.section-header.section-header_projects
                div.section-header__content-container
                    h2.section-header__title Nos projets
                    blockquote.section-header__intro « Chez Mariam Faso, nous sommes convaincus de l’importance de l’instruction dans la lutte contre la pauvreté. Ce que nous voulons, c’est apporter aux jeunes une perspective d’avenir. »
            div.projects.content-wrapper
                article.project-excerpt
                    header.project-excerpt__header
                        h3.project-excerpt__title
                            a.project-excerpt__link(href="#") Le nom d'un projet
                        a.cta.cta_dark Participer
                    div.project-excerpt__content
                        img.project-excerpt__thumbnail(src="img/article1.jpg" alt="Photo du projet")
                        div.project-excerpt__descriptions-container
                            p.project-excerpt__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium blanditiis vel iste laudantium, quidem minus ipsa, quas nostrum nulla aliquid nemo nihil accusantium ratione, quia sit tempora totam architecto eos.
                            p.project-excerpt__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt neque cupiditate voluptate nemo obcaecati, necessitatibus cumque. Distinctio dicta nulla tempora perspiciatis recusandae at sequi dolore officiis. Totam excepturi provident facere!
                            a.read-more(href="#") Lire plus
            include partials/_footer