.home-news {
    background: white;
    padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-small;
    display: flex;
    flex-direction: column;
    &__article {
        margin-bottom: 2*$inuit-global-spacing-unit;
        @media screen and (min-width: 768px) {
            width: 45%;
        }
        @media screen and (min-width: 1100px) {
            width: auto;
        }
        @media screen and (min-width: 2000px) {
            &:nth-child(2n) {
                margin-left: inuit-rem(90px);
            }
        }
        &-container {
            width: 100%;
            max-width: 30em;
            align-self: center;
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 768px) {
                flex-direction: row;
                max-width: 100%;
                justify-content: space-around;
            }
            @media screen and (min-width: 2000px) {
                justify-content: center;
            }
        }
        &:nth-child(n+2) {
            margin-top: $inuit-global-spacing-unit;
            @media screen and (min-width: 768px) {
                margin-top: 0;
            }
        }
    }
    &__title {
        margin-bottom: 2*$inuit-global-spacing-unit;
        &::before {
            font-family: FontAwesome;
            content: "\f1ea";
            @include inuit-rem(margin-right, $inuit-global-spacing-unit-small);
        }
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
    }
}

.article {
    &__time {
        color: white;
        background: #ffa162;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffa162, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffa162, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        padding: 0 $inuit-global-spacing-unit-small;
        margin-right: $inuit-global-spacing-unit-small;
    }
    &__img {
        margin-bottom: $inuit-global-spacing-unit-small;
        max-width: 30em;
        width: 100%;
    }
}

.read-more {
    color: #ffa162;
    float: right;
    &::after {
        font-family: FontAwesome;
        content: "\f061";
        @include inuit-rem(margin-left, $inuit-global-spacing-unit-tiny);
    }
}