.hamburger-menu {
    background-image: url("../img/menu.svg");
    background-size: cover;
    order: 1;
    @include inuit-rem(width,
    30px);
    @include inuit-rem(height,
    30px);
    cursor: pointer;
    margin: 0 2rem;
    @media screen and (min-width: 1270px) {
        display: none;
    }
}