.header {
    @include inuit-rem(padding-top, $inuit-global-spacing-unit);
    //@include inuit-rem(padding-bottom, $inuit-global-spacing-unit);
    background-image: url("../img/header-bcg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media screen and (min-width: 768px) {
        min-height: 480px;
    }
    @media screen and (min-width: 1600px) {
        min-height: 100vh;
    }
    &_small {
        min-height: 300px;
    }
}