.section-header {
    margin-top: -24px;
    //margin-bottom: $inuit-global-spacing-unit;
    background: url("../img/questions-light-bcg.png");
    padding: $inuit-global-spacing-unit;
    display: flex;
    justify-content: space-around;
    @media screen and (min-width: 1000px) { 
        &_projects::after {
            content: "\f0ac";
            font-family: fontAwesome;
            font-size: 200px;
            font-size: 12.5rem;
            line-height: 1.08;
            margin-left: .2em;
        }
        &_events::after {
            content: "\f073";
            font-family: fontAwesome;
            font-size: 200px;
            font-size: 12.5rem;
            line-height: 1.08;
            margin-left: .2em;
        }
        &_actions::after {
            content: "\f0e7";
            font-family: fontAwesome;
            font-size: 200px;
            font-size: 12.5rem;
            line-height: 1.08;
            margin-left: .2em;
        }
     }
    &__intro {
        max-width: 30em;
        padding: $inuit-global-spacing-unit;
        border-left: 3px solid #ffa162;
    }
}