.footer {
    color: white;
    border-top: 11px solid $mf-orange;
    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-small;
        background: #464646;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
        }
        @media screen and (min-width: 2000px) {
            justify-content: center;
        }
    }
    &__item {
        //width: 80%;
        max-width: 30em;
        width: 100%;
        margin-bottom: 2*$inuit-global-spacing-unit;
        @media screen and (min-width: 560px) {
            width: 50%;
        }

        @media screen and (min-width: 1050px) {
            width:auto;
        }
        &:nth-child(n+2) {
            @media screen and (min-width: 2000px) {
                margin-left: inuit-rem(90px);
            }
        }
    }
    &-partners {
        &__item {
            max-width: 16em;
            margin-bottom: $inuit-global-spacing-unit;
            &:nth-child(n+1) {
                margin-top: $inuit-global-spacing-unit-small;
            }
        }
        @media screen and (max-width: 768px) {
            @include inuit-rem(margin-bottom, $inuit-global-spacing-unit);
        }
    }
    &-contact {
        &__contact-link {
            //color: white;
            //margin-left: -26px;
        }
        &__content-item {
            display: block;
            margin-left: inuit-rem(20px);
            &_icon-phone::before {
                font-family: FontAwesome;
                content: "\f095";
                @include inuit-rem(margin-right, $inuit-global-spacing-unit-tiny);
                @include inuit-rem(margin-left, -20px);
            }
            &_icon-email::before {
                font-family: FontAwesome;
                content: "\f1fa";
                @include inuit-rem(margin-right, $inuit-global-spacing-unit-tiny);
                @include inuit-rem(margin-left, -20px);
            }
        }
    }
    &-donation {
        &__dt {
            &:nth-child(n+2) {
                margin-top: $inuit-global-spacing-unit;
            }
        }
        &__dd {
            color: #b9b9b9;
            margin-left: 0;
        }
        &__list {
            margin-bottom: 0;
        }
    }
    &-project {
        &__link {
            color: white;
            transition: 0.2s;
            &:hover {
                color: $mf-orange;
            }
        }
    }
    &__copyright {
        background: #292929;
        display: block;
        padding: 12px 0;
        margin: auto;
        text-align: center;
    }
    &__social {
        background: #333333;
        text-align: center;
        font-size: 3em;
        &-link {
            color:white;
            transition: 0.2s;
            position: relative;
            &:hover {
                color: $mf-orange;
                & .footer__social-text {
                    width: auto;
                    height: initial;
                    margin: 0;
                    overflow: auto;
                    padding: inherit;
                    position: absolute;
                    top: 45px;
                    left: 0;
                    clip: auto;
                    border: auto;
                }
            }
            &:nth-child(1)::before {
                font-family: FontAwesome;
                content: "\f082";
            }
            &:nth-child(2)::before {
                font-family: FontAwesome;
                content: "\f16a";
            }
            &:nth-child(n+2) {
                margin-left:2em;
            }
        }
        &-text {
            font-size: 0.4em;
            //transition: 0.1s;
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }
}