.cta {
    @include inuit-font-size(14px);
    font-family: $headings-font-stack;
    font-weight: 600;
    //max-width: 97%;
    text-transform: uppercase;
    border: 1px solid white;
    @include inuit-rem(border-radius, 3px);
    color: white;
    text-decoration: none;
    transition: 0.1s;
    padding: $inuit-global-spacing-unit-small;
    display: inline-flex;
    align-items: center;
    &:hover {
        //border-color: #ffa162;
        &::before {
            color: #ffa162;
            transform: translate(5px, 0);
        }
    }
    &::before {
        transition: 0.3s;
        font-family: FontAwesome;
        content: "";
        margin-right: $inuit-global-spacing-unit-small;
        display: inline-block;
    }
    &_dark {
        color: black;
        border-color: black;
    }
    &_centered {
        max-width: 15.1em;
        margin: auto;
    }
    &_over-image {
        background: rgba(0, 0, 0, 0.2);
    }
    &_no-border {
             margin-bottom: 0;
             border: 0;
    }
    &_title {
        padding: 0;
        font-size: inherit;
        text-transform: inherit;
        line-height: inherit;
    }
    &.cta_title::before {
        font-size: 0.6em;
    }

}