///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.
// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3)+s !default;
$content-font-stack: Roboto,
sans-serif;
$headings-font-stack: OpenSans,
sans-serif;